.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 8vh;
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.back-button {
  cursor: pointer;
  margin: 1em;
  width: 10em;
  margin-left: 2.5vw;
  border-radius: 5em;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.back-button:hover {
  background-color: mediumvioletred;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
}
