.math-game-area {
  height: 100%;
  width: 100%;
  position: relative;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  -webkit-border-radius: 1vw;
  -moz-border-radius: 1vw;
  border-radius: 1vw;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.cell:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
}

.clicked {
  background: green !important;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
}

.question {
  background: cornflowerblue;
}

.answer {
  background: yellow;
}
